@import url('https://fonts.googleapis.com/css?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: calc(16px + (24 - 16) * (90vw - 400px) / (800 - 400));
    /* background: url('../img/backgrounds/map01.jpg') no-repeat; */
    /* background-size: cover; */
}

p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div#intro > p {
    font-family: 'Roboto', sans-serif;
    line-height: 1rem;
    letter-spacing: 2px;
    background: rgba(0,0,0,1);
    border-radius: 0rem 0rem 1rem 1rem;
    color: rgba(255,255,255,0.9);
    padding: 1rem;
    /* box-shadow: 2px 2px 6px 2px rgba(0,0,0,1) inset; */
    /* text-shadow: 1px 1px 1px rgba(255,255,255,0.5); */
}

div#intro > p > span.break {
    display: block;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

div#intro > p > span.red {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    color: rgba(255,0,106,1);
}

div#intro > p > span.underline {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    text-decoration: underline;
}

div#intro{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;

    /* padding: 1rem 10rem; */
    /* margin-top: 5rem; */
    
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: calc((1.5rem - 2rem) + 1.5rem);
    margin-bottom: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}



.container {
    /* size and position */
    position: absolute;
    height: 100vh;
    width: 100vw;
    

    /* behavior */
    /* background: rgba(255,0,0,0); */
    align-items: center;

    display: flex;
    flex-direction: column;

    /* alignment */
    text-align: left;
}

#logo {
    background: rgb(255,255,255,0);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top {
    margin: 1rem 1rem 1rem 1rem;
}

#T1 {
    height: 1.5vh;
    left: 1rem;
    border-radius: 0.25rem 0rem 0.25rem 0rem;
}

#T2, #M1, #M2, #M3 {
    height: 4vh;
}

#T1, #T2, #M1, #M2, #M3 {
    margin-left: 0.2vw;
    width: 1vw;
    background: rgba(255,0,106,1);
}

#T2 {
    left: 1.5rem;
    border-radius: 0px 0px 0.25rem 0px;
}

#M1 {    
    left: 2rem;
    border-radius: 0.25rem 0px 0px 0.25rem;
}

#M2 {    
    left: 2.5rem;
    top: 1.1rem;
    height: 1.5vh;
    border-radius: 0px 0px 0.25rem 0.25rem;
}

#M3 {    
    left: 3rem;
    border-radius: 0px 0.25rem 0.25rem 0px;
}

div.content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.tab {
    padding: 2.5vh 3vw;
    background: rgba(0,0,0,1);
}

.tab > a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.tab:first-of-type {
    background: rgba(255,0,106,1);
    border-radius: 0rem 0rem 0rem 1rem;
}

.tab > a:hover {
    color: rgba(255,0,106,1);
}

.tab:first-of-type > a:hover {
    color: rgba(0,0,0,1);
}



#canvas {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#eee, #222);
    border: 1px solid black;
}

#intro > p  {
    margin-bottom: 0;
}
